<footer>
    <nav>
        <ul class="social-share-footer">
            <li class="fb"><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.cghearth.com/default.aspx"
                    target="_blank">&nbsp;</a></li>
            <li class="twitter">
                <a id="hplTwitter" class="fb-twitter"
                    href="https://twitter.com/intent/tweet?text=CGH Earth Experience Hotels | Book on Official Website&amp;url=https://www.cghearth.com/default.aspx"
                    target="_blank"></a>
            </li>
        </ul>

        <ul class="text-uppercase">
            <li><a href="https://www.cghearth.com/careers">careers</a></li>
            <li><a href="https://www.cghearth.com/faq">faq</a></li>
            <li><a href="https://www.cghearth.com/terms">terms&amp; conditions</a></li>
            <li><a href="https://www.cghearth.com/privacypolicy">privacy policy</a></li>
            <li><a href="https://www.cghearth.com/petpolicy">Pet Policy</a></li>
            <li><a href="https://www.cghearth.com/factsheet">factsheet</a></li>
            <li><a href="https://www.cghearth.com/awards">Awards</a></li>
            <li><a href="https://www.cghearth.com/mediacentre">Media Centre</a></li>
            <li><a href="https://www.cghearth.com/reviews">Reviews</a></li>
            <li><a href="#tellafriend" class="fancyboxDownload">Tell a Friend</a></li>


        </ul>
    </nav>

    <ul class="social">
        <li><a href="https://twitter.com/cgh_earth" target="_blank"><img
                    src="https://www.cghearth.com/uploads/UploadImage/20170614072330AMtwitter.png" alt="Twitter"
                    class="img-responsive img-responsive" height="28" width="29"></a></li>
        <li><a href="https://www.pinterest.com/cghearth/" target="_blank"><img
                    src="https://www.cghearth.com/uploads/UploadImage/20170614072317AMpintrest.png" alt="Pintrest"
                    class="img-responsive img-responsive" height="28" width="29"></a></li>
        <li><a href="https://www.facebook.com/cghearth/" target="_blank"><img
                    src="https://www.cghearth.com/uploads/UploadImage/20170614072305AMfacebook.png" alt="Facebook"
                    class="img-responsive img-responsive" height="28" width="29"></a></li>
        <li><a href="https://www.instagram.com/cghearth/" target="_blank"><img
                    src="https://www.cghearth.com/uploads/UploadImage/20170614072253AMinstagram.png" alt="Instagram"
                    class="img-responsive img-responsive" height="28" width="29"></a></li>

    </ul>
    Sign Up to receive exclusive offers and news from CGH Earth.
    <br>
    <div class="signup">
        <div id="UpdatePanel1">

            <input name="ctl00$txtEmail" type="text" id="txtEmail" placeholder="Enter Your Email Address"
                class="form-control" style="color: black">

            <input type="submit" name="ctl00$BtnSubmit" value="SignUp" id="BtnSubmit">

            <span id="RequiredFieldValidator2" style="color:Red;float:left;display:none;">Please Enter Email</span>
            <span id="RegularExpressionValidator1" style="color:Red;float:left;display:none;">Invalid Email</span>
            <span id="CustEmailID" style="color:Red;float:left;display:none;">Already Subscribed</span>

        </div>
    </div>

    <p class="copy">HOTEL &amp; ALLIED TRADES PRIVATE LTD - All rights reserved</p>
</footer>